<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="InfosConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%msg%n"/>
        </Console>
        <Console name="DebugConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="|DEBUG| : [%d{HH:mm:ss}] %msg%n"/>
        </Console>
        <RollingFile name="Logs" fileName="Logs/Applog.log" filepattern="AppLogFile-%d{yyyy-MM-dd}-%i.log.zip">
            <PatternLayout pattern="[%d{HH:mm:ss}] [%t] %-5level %logger{36} - %msg%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="50KB"/>
            </Policies>
        </RollingFile>
        <RollingFile name="deb" fileName="Logs/debug.log" filepattern="debug-%d{yyyy-MM-dd}-%i.log.zip">
            <PatternLayout pattern="[%d{HH:mm:ss}] [%t] %-5level %logger{36} - %msg%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="50KB"/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="game_Logger" level="info" additivity="false">
            <AppenderRef ref="InfosConsole"/>
            <AppenderRef ref="Logs"/>
        </Logger>
        <Logger name="deb_Logger" level="debug" additivity="false">
            <AppenderRef ref="DebugConsole"/>
            <AppenderRef ref="deb"/>
        </Logger>
        <Root>
            <AppenderRef ref="InfosConsole"/>
            <AppenderRef ref="Logs"/>
        </Root>
    </Loggers>
</Configuration>